.section-doctor{
    height: 378px;
    background: white;
}
.slick-next:before{
    content: "\f054" !important;
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    color: #959595 !important;  
}

.slick-next{
    background: #fff !important;
    opacity: .75 !important;
    width: 35px !important;
    height: 35px !important;
    border-radius: 50px !important;
    right: -9px !important;
    border: 2px solid #d7d7d7 !important;

}

.slick-prev:before{
    content: "\f053" !important;
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    color: #959595 !important;  
}

.slick-prev{
    background: #fff !important;
    opacity: .75 !important;
    width: 35px !important;
    height: 35px !important;
    border-radius: 50px !important;
    left: -12px !important;
    z-index: 1;
    border: 2px solid #d7d7d7 !important;

}

.doctor-content{
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    .doctor-header{
        position: relative;
        width: 100%;
        display: flex;
        padding: 40px 0;
        .doctor-header-title{
            color: #333;
            margin: 0;
            font-weight: 560;
            line-height: 40px;
        }
        .doctor-header-btn{
            position: absolute;
            background-color: #ebebeb;
            padding: 10px 15px;
            color: #333;
            border: 1px solid transparent;
            border-radius: 3px;
            outline: none;
            right: 6px;
            font-size: 13px;
        }
    }
    .doctor-items{
        .doctor-item{
            padding: 10px 5px;
            border: 1px solid #eee;
            text-align: center;
            display: inline-block;
            position: relative;
            vertical-align: top !important;
            white-space: normal !important;
            background: rgba(255,255,255,1);
            overflow: hidden;
            margin: 5px;
        .doctor-item-img{
            width: 120px;
            height: 120px;
            position: relative;
            border-radius: 50%;
            overflow: hidden;
            margin: 0px auto;
            object-fit: cover;
            margin-bottom: 10px;
        }
       
        .doctor-item-title{
            text-align: center;
            margin-top: 10px;
            color: #333;
            font-size: 12.5px;
            font-weight: 440;
        }
        .doctor-item-des{
            text-align: center;
            margin-top: 10px;
            color: #333;
            font-size: 11px;
            font-weight: 400;
        }
}}
}

