.section-footer{
    background-color: #64b9e5;
    color: #fff;
    padding: 20px;
    height: 55px;
    .footer-text{
        text-align: center;
        font-size: 14px;
        font-weight: 400;
    }
}